
@{
    ViewBag.Title = "ProCat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5">

        @foreach (var item in TempData["ProCat"] as List<E_Commerce_WebApp.Models.tbl_Product>)
        {
            if (item.Pro_status  == 0.ToString() && item.tbl_Categories.Cat_Starus == 0.ToString())
            {

            
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/Products_images/Front/@item.Pro_Img" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href="@Url.Action("Details", "User", new { Id = item.Pro_Id })"><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href=""> @item.Pro_Name</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>@item.Pro_Price</h5><h6 class="text-muted ml-2"><del>@item.Pro_Price</del></h6>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>
            }
        }
    </div>
</div>